/bin/
/build/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test



/pkg/mod/

*_cgo_*

go.work
go.work.sum

*.db

*.log

.env

/vendor/


.idea/
*.iml
*.iws

.vscode/

*.sublime-project
*.sublime-workspace

.DS_Store

node_modules/

coverage.out
cover.out

profile.out

*.tmp
*.temp
tmp/
temp/

glide.lock
glide.yaml

Gopkg.lock
Gopkg.toml

/static/dist/

*.out

*.swp

Session.vim

.goland/

.*
!.gitignore

